
<script src="//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/sha256.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">	
	function randomGen () {
		var stng = "";
		var alphabet = "abcdefghijklmnopqrstuvwxyz0123456789";
		while (stng.length < 2048) {
			stng += alphabet.charAt(Math.floor(Math.random() * alphabet.length));
		}
		return stng;
	}
	function workHard(form) {
		var unhash = randomGen();
		var hash = CryptoJS.SHA256(unhash);
		form.glib.value = unhash;
		form.glibhash.value = hash;
	}
	$(document).ready(function(){
		var comment_no = 0;
		$('.gravatar').each(function(i, img) {
			
			var email = img.alt;
		    var base_url = "http://localhost:8080/?g=";
		    var end_url = "";
		    var url = base_url + email + end_url;
		    img.src = url;

		    comment_no = i + 1;

		});

		$('.counter').html(comment_no);
	});
	function hideAway() {
		document.getElementById('throw-error').style.display="none";
	}
  function validatePooleForm(form) {
  	var name=form.name.value;
  	var comment=form.comment.value;
  	if (name != '' && comment != '') {
  		workHard(form);
  		return true;
  	}
  	else {
  		document.getElementById('throw-error').style.display= "block";
  		$('html, body').animate({ scrollTop: $('#throw-error').offset().top }, 'slow');
  		return false;
  	}
  }
  function honeyPot(form) {
    form.path.value = "{{ page.url }}";
    var email=form.email.value;
    var honey_handle = form.honey.value;
    if (honey_handle == null || honey_handle == '') {
    	if (validatePooleForm(form)) {
    		return true;
    	}
    	else {
    		return false;
    	}
    }
    else {
    	alert('Caught ye sucker!');
    	return false;
    }

  }
  function focusOnMe(id) {
  	document.getElementById("laform").name.focus();
  	document.getElementById("laform").inreplyto.value = id;
  	document.getElementById("reply").style.display = "inline";
  }
  function unfocusOnMe(id) {
  	document.getElementById("laform").inreplyto.value = "";
  	document.getElementById("reply").style.display = "none";
  }
</script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css">
<style type="text/css">
	#hide {
		display: none;
	}
	#reply {
		display: none;
		float: right;
		color: #dd0000;
		font-size: 0.5em;
		font-family: sans-serif;
	}
	#throw-error {
		display: none;
		background: #FF8282;
		border-style: solid;
		border-width: 1px;
		border-color: #FCB8B8;
		padding:20px;
		border-radius: 3px;
		font-family: sans-serif;
		font-weight: normal;
		font-size: 1em;
	}
	.bold-style {
		border-radius: 0 !important;
		border-width: 1px !important;
		padding: 20px !important;
		border-color: #ddd !important;
		background-color: #fafafa !important;
		box-shadow: none !important;
	}
	.bold-style:focus {
		border-color: #ddd !important;
	}
	.input-area {
		height: 200px;
	}
	.poole label {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 900;
		font-size: 0.8em;
	}

	.button {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 5px;
		color: #fff;
		background-color: #111;
		border-radius: 3px;
		box-shadow: none;
		text-transform: uppercase;
		font-weight: 900;
	}
	.poole legend {
		font-weight: 900;
		font-size: 2em;
	}
	.poole-comments li {
		list-style-type: none;
		display: block;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #d5d5d5;
		margin-top: 10px;
		padding-top: 10px;
		margin-bottom: 10px; 

	}
	.poole-comments div {
		font-size: 1.1em;
		padding: 10px;
		margin-left: 10px;
	}
	.poole-comments p {
		display: inline-block;
		font-size: 0.54em;
		color: #555;
		font-family: sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		padding: 0;
		margin-left: 10px;
		margin-top: 0;
	}
	.poole-comments time {
		display: inline-block;
		font-size: 0.5em;
		color: #666;
		text-transform: uppercase;
		font-family: sans-serif;
	}
	.gravatar {
		display: inline-block;
		vertical-align: top;
		width: 40px;
		height: auto;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		border-color: #444;
	}
	.poole-comments a {
		display: inline-block;
		margin-left: 15px;
		font-size: 0.5em;
		font-family: sans-serif;
	}
	.poole-comments a:hover {
		text-decoration: underline;
	}
	.poole-comments > ul {
		margin: 0;
	}
	.poole-comments {
		margin-top: 40px;
	}
	.top-wrapper, .bottom-wrapper {
		display: block;
	}
</style>

<div id="throw-error" onclick="hideAway()">
You must provide a name for your comment!        <i style="float:right;" class="fa fa-times"></i>
</div>
<form class="pure-form pure-form-stacked poole" action="http://localhost:8080/post_comment" method="post" name="pooleform" onsubmit="return honeyPot(this)" id="laform">		
	<fieldset>
		<legend>Leave a comment <a class="display: inline-block;" id="reply" onclick="unfocusOnMe()">Clear reply <i style="color:#111;" class="fa fa-times"></i></a></legend>

			<input type="hidden" name="redirect_to" value="{{site.url}}/comment/">

			<div class="pure-g">

				<div class="pure-u-1-2">
		  		<label>Name</label>
		  		<input type="text" name="name" class="pure-u-22-24 bold-style" > 
		  	</div>

		  	<div class="pure-u-1-2">
		  		<label>Email</label>
		  		<input type="text" name="email" class="pure-u-1 bold-style" >
		  	</div>

		  	<div class="pure-u-1">
		  		<label>Website</label>
		  		<input type="text" name="website" class="pure-u-1 bold-style">
		  	</div>

		  	<div class="pure-u-1">
		  		<label>Comment</label>
		  		<textarea class="pure-input-1 bold-style input-area" name="comment"></textarea>
		  	</div>

	  		<input type="text" name="path" id="hide">
	  		<input type="text" name="inreplyto" id="hide">
	  		<input type="text" name="honey" id="hide">
	  		<input type="text" name="email0" id="hide">
	  		<input type="text" name="glibhash" id="hide">
	  		<input type="text" name="glib" id="hide">


	  		<input type="submit" value="Post Comment" class="pure-button button">

	  	</div>
  </fieldset>
</form>



<div class="poole-comments">
<h3><span class="counter">0</span> Comments</h3>
<ul>
  {% for comment in site.data.poole.sessions %}{% if comment.path == page.url %}{% if comment.inreplyto == '' and comment.honey == '' %}
    <li>

      <div class="top-wrapper">

	      <img class="gravatar" alt="{{comment.email0}}" scr="http">
	      <p class="poole-name">{{ comment.name }}</p>

      </div>

      <div class="poole-comment">
        {{ comment.comment }}
      </div>

      <div class="bottom-wrapper">

	      <time datetime="{{ comment.created | date_to_xmlschema }}">
	        <i style="color: #333;padding: 5px;" class="fa fa-calendar"></i>{{ comment.created | date_to_long_string  }}
	      </time>
	      <a onclick="focusOnMe('{{comment._id}}')">Reply</a>

      </div>

      <ul>
      	{% for comments in site.data.poole.sessions %}{% if comment._id == comments.inreplyto and comments.honey == ''%}
      		
	      	<li>

	      		<div class="top-wrapper">
		      		<img class="gravatar" alt="{{commens.email0}}" scr="htttp">
	      			<p class="poole-name">{{ comments.name }}</p>
	      		</div>

			    <div>
			    	{{ comments.comment }}
			    </div>
			      
			    <div class="bottom-wrapper">

			      <time datetime="{{ comment.created | date_to_xmlschema }}">
			        <i style="color: #333;padding: 5px;" class="fa fa-calendar"></i>{{ comment.created | date_to_long_string  }}
			      </time>

      			</div>

      		</li>
      	{% endif %}{% endfor %}
      </ul>

    </li>
  {% endif %}{% endif %}{% endfor %}
</ul>
</div>