/**
 * Site header
 */
.site-header {
    min-height: 56px;
    padding: 35px;
    border-bottom: 1px solid #000;

    // Positioning context for the mobile navigation icon
    position: relative;
    @include outer-container;
}

.site-title {
    font: 32pt/1.5 'Soria', serif;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0;
    position: absolute;
    top: 19px;
    left: 20px;
    float: left;

    &,
    &:visited {
        color: #333;
    }
    &:hover {
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    // Navigation icon
        position: absolute;
        top: 31px;
        right: $spacing-unit / 2;
        background-color: #fff;
        //border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

}

.post-title {
    font: 44pt/1.5 'Soria', serif;
    text-align: center;
    margin-bottom: 5px;

    @include media-query($on-laptop) {
        font: 32pt/1.5  serif;
    }
}

.post-cool {
    font: 14pt/1.5  'Playfair Display', serif;
    text-align: center;
    padding-bottom: 0;
}

.post-content {
    margin-bottom: $spacing-unit;
    @include outer-container;

    p {
        max-width: 33em;
        font: 14pt/1.5 'Day Roman', serif;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        text-indent: 0.75em;
    }

    @include media-query($on-palm) {
        width: inherit;
    }

    p:first-child {
        text-indent: 0;
    }

    h2 {
        font: 24pt/1.5  serif;
        margin-bottom: 0;

        @include media-query($on-laptop) {
            font: 24pt/1.5  serif;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/* Typographical eye candy */

.kern {
    letter-spacing: -0.1em;
}

.bigo {
    font: 24pt/1.5  serif;
}

#no-indent {
    text-indent: 0;
}

.paginate {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 10em;
    font: 11pt/1.5 'Montserrat',sans-serif;
    text-align: center;
}