/*****
		These are the fonts being used. Feel free to add your own.

*****/


@font-face {
	font-family: 'Fertigo Pro';
	src: url('../assets/fonts/Fertigo_PRO.otf');
}

@font-face {
	font-family: 'Day Roman';
	src: url('../assets/fonts/DAYROM__.ttf');
}

@font-face {
	font-family: 'Day Roman Lig';
	src: url('../assets/fonts/DAYROM_X.ttf');
}

@font-face {
	font-family: 'Zallman';
	src: url('../assets/fonts/zallmancaps-webfont.ttf');
}

@font-face {
	font-family: 'Artifika Regular';
	src: url('../assets/fonts/Artifika-Regular.ttf');
}

@font-face {
	font-family: 'Soria';
	src: url('../assets/fonts/soria-font.ttf')
}